header {
    text-align: center;
}

.mon {
    display: grid;
    grid-template-columns: 95px 200px 30px;
    grid-template-rows: 30px 65px;
    /* grid-template-areas: 
        "title" "delete"
        "image" "delete"; */
}

.monHeader {
    grid-area: 1 / 2 / span 1 / span 1;
}

.monArt {
    grid-area: 1 / 1 / span 2 / span 1;
}

.monDelete {
    grid-area: 1 / 3 / span 2 / span 1;
    align-self: center;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}